/* COLORS 
Aqua: #4ebcca
Grey: #979797
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, sans-serif;
}

h1 {
    font-size: 44px;
    font-weight: 800;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
}

h3 {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
}

/* UTILITY CLASSES */
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px 12px;
    color: #15171A;
    background-color: #fff;
    border-radius: 100px;
}

.btn-primary:hover {
    color: #fff !important; 
    background-color: #15171A;
}

/* MAIN STYLING */
.main-header {
    padding-top: 24px;
    background-color: #4ebcca;
}

.main-nav, .aux-nav {
    list-style-type: none;
}

.main-nav li, .aux-nav li {
    display: inline-block;
    margin-right: 26px;
}

.aux-nav li {
    margin-right: 18px;
}

.aux-nav li:last-child {
    margin-right: 0;
}

.main-header a {
    display: inline-block;
    letter-spacing: 0.1px;
    padding-top: 10px;
    padding-bottom: 12px;
    color: #fefefe;
    font-weight: 500;
    text-decoration: none;
}

.main-header a:hover {
    color: #000;
}

.search-button {
    color: #fefefe;
    margin-top: 3px;
    margin-right: 28px;
}

.search-button:hover {
    color: #000;
}

.aux-nav .subscribe-button {
    color: #15171A;
}

/* HERO SECTION */
.hero {
    padding: 110px 0 160px;
    background-color: #4ebcca;
}

.hero-image {
    display: block;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.hero-text {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    max-width: 700px;
    color: #fefefe;
    text-align: center;
}

/* ARTICLES SECTION */
.articles a:link,
.articles a:visited {
    color: #000;
    text-decoration: none;
}

.flagship {
    padding: 50px 0 20px;

    display: flex;
    gap: 3%;
    
}

.flagship-image {
    flex: 0 1 64%;
}

.flagship-details {
    flex: 0 1 33%;
}

.flagship-title {
    margin-bottom: 14px;
}

.flagship-info {
    font-size: 13px;
    color: #979797;
    margin-top: 15px;
}

.article-highlights .flex {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4%;
}

.highlight {
    padding-top: 40px;
    flex: 0 1 48%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.article-list .flex {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3.5%;
    padding-top: 10px;
    padding-bottom: 60px;
}

.article {
    padding-top: 40px;
    flex: 0 1 31%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.article-image {
    width: 100%;
}

.article-title {
    margin-top: 14px;
    margin-bottom: 14px;
}

.article-snippet {
    line-height: 1.5;
}

.article-snippet::after {
    content: '...';
}

.article-info {
    text-align: left;
    font-size: 13px;
    color: #979797;
    margin-bottom: 20px;
}

.article-date::after {
    display: inline;
    content: ' \2022';
}

/* FOOTER */
.main-footer {
    color: #ddd;
    padding: 40px 0;
    background-color: #000;
}

.main-footer a:link,
.main-footer a:visited {
    color: #fff;
    text-decoration: none;
}

/* RESPONSIVE CSS */
@media (max-width: 1160px) {
    .flagship-image {
        flex: 0 1 56%;
    }

    .flagship-title {
        font-size: 32px;
    }
    
    .flagship-details {
        flex: 0 1 41%;
    }
}

@media (max-width: 1000px) {
    .hero-text {
        max-width: 500px;
    }

    .flagship {
        flex-wrap: wrap;
        gap: 0;

        padding: 50px 0 0;
    }

    .flagship-image {
        flex: 0 1 100%;
    }

    .flagship-title {
        margin-top: 20px;
    }

    .article-title {
        font-size: 26px;
    }

    .flagship-details {
        flex: 0 1 100%;
    }

    .flagship-info {
        margin-bottom: 20px;
    }

    .article-list .flex {
        gap: 4%;
    }
    
    .article {
        flex: 0 1 48%;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 130px;
    }

    .flagship-title {
        font-size: 26px;
    }

    .flagship-info {
        margin-bottom: 0;
    }
    
    .highlight {
        flex: 0 1 100%;
    }

    .article-list .flex {
        gap: 0;
    }
    
    .article {
        flex: 0 1 100%;
    }

    .article-info {
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {
    .hero {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .hero-text {
        max-width: 400px;
    }
}